body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f9;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #070707;
    text-align: center;
    margin-bottom: 20px;
}

.form-container {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    color: #173156;
    font-weight: bold;
}

.form-control {
    width: 90%; /* Asegura que el campo ocupe el 100% del ancho de su contenedor */
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

button {
    background-color: #173156;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #002244;
}

button#delete-button {
    background-color: #cc0000;
}

button#delete-button:hover {
    background-color: #990000;
}

/* Estilos adicionales para la barra superior */
header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    justify-content: space-between; /* Para mover el icono a la derecha */
}

.icons {
    display: flex;
    align-items: center;
}

.responsiveIcons {
    height: 30px; /* Ajustar el tamaño del ícono */
    margin-right: 10px;
}

.responsivetitle {
    height: 30px; /* Ajustar el tamaño del título */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-options {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0; /* Para alinear las opciones del dropdown a la derecha */
}

.dropdown:hover .dropdown-options {
    display: block;
}

.dropdown-options a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-options a:hover {
    background-color: #f1f1f1;
}

nav#principalNav {
    display: flex;
    align-items: center;
}
