body {
    background-color: #fff;
    font-family: Arial, sans-serif;
}

h1 {
    color: #173156;
    font-weight: bold;
}
@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 100%; /* Override Bootstrap max-width */
    }
}
.search-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-group {
    width: 20%;
}

.table th, .table td {
    vertical-align: middle;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

.table-dark th {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
}

.activo {
    color: green;
}

.inactivo {
    color: red;
}

.ongoing {
    color: orange;
}
.btn-primary {
    background-color: #173156;
    border-color: #173156;
}

.btn-primary:hover {
    background-color: #0b213a;
    border-color: #0b213a;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
