label{
    font-size: 1.5rem;
    width: 10em;
}

button{
    width: 4rem;
}
section{
    height: 20%;
}
#buscarConductor{
    display: flex;
    justify-content: center;
    align-items: center;
}
#datos{
    display: flex;
    justify-content:start;
    flex-direction: column;
}
#agregarConductor, #vehiculo{
    display: flex;
    justify-content:start;
}